@inject SignInManager<IdentityUser> SignInManager

@{
    Layout = "_LayoutInicio";
}



<h1>registro de usuario</h1>

<form method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" disabled value="@UserManager.GetUserName(User)" />

    <label for="idClase">ID de Clase:</label>
    <input type="number" id="idClase" name="idClase" required />

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required />

    <label for="linkedin">LinkedIn:</label>
    <input type="text" id="linkedin" name="linkedin" required />

</form>